/*! purgecss start ignore */
@tailwind base;
@tailwind components;
/*! purgecss end ignore */
@tailwind utilities;

::-moz-selection {
  /* Code for Firefox */
  background: #e2e8ef;
  border-radius: 8px;
}

::selection {
  background: #e2e8ef;
  border-radius: 8px;
}

body {
  color: #3d3d3d;
}

.custom-primary-color {
  color: #ee6c4d;
}

.main-content {
  overflow: hidden;
}

.main-content a {
  text-decoration: underline;
  text-decoration-color: #06aade;
}

body .dark > .main-content a {
  text-decoration-color: #de062e;
}

a:hover {
  background: linear-gradient(transparent, rgba(6,170,222, 0.5) 0);
}

.no-styling {
  background: none !important;
  text-decoration: none !important;
}

.pointer {
  cursor: pointer;
}

.projects a:hover {
  background: transparent !important;
}

.font-sans {
  font-family: "League Spartan";
}

.work-image {
  width: 70%;
  height: 70%;
}

.loading {
  color: rgba(237, 242, 247, 1);
  animation: alertPulse 1s ease-in;
  animation-iteration-count: infinite;
  background-color: rgba(237, 242, 247, 1);
}

.loading-dark {
  color: rgba(226, 232, 240, 1);
}

@-webkit-keyframes alertPulse {
  0% {
    background-color: #edf2f7;
    opacity: 1;
  }
  50% {
    opacity: #edf2f7;
    opacity: 0.2;
  }
  100% {
    opacity: #edf2f7;
    opacity: 1;
  }
}

.projects .each {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 0;
  border-bottom: 1px solid #eee;
}

.projects h2 {
  font-size: 1.2rem;
  border-bottom: none;
  margin: 0 1rem 0 0;
  font-weight: 500;
  color: #111;
  padding: 0;
  min-width: 110px;
}

.projects h2 a {
  display: flex;
  color: #111;
  justify-content: center;
}

.projects h2 .project-icon {
  display: inline-block;
  font-size: 2rem;
  margin-right: 1rem;
}

.projects p {
  font-weight: 400;
  margin: 0;
}

.buttons {
  display: none;
}

.buttons-key {
  display: none;
}

.projects a:hover,
.projects a {
  text-decoration: none;
  background-color: transparent !important;
}

.artwork-visibility {
  display: none;
}

@media (min-width: 620px) {
  .projects .each {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
  }

  .smaller-project {
    padding: 0.5rem 0 !important;
  }

  .projects h2 {
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    font-size: 1.3rem;
    margin-right: 1rem;
  }

  .projects p {
    display: block;
    flex: 1 1;
    margin: 0 1.5rem 0 0;
    font-size: 1.2rem;
  }

  .buttons {
    display: block;
    padding: 20px;
  }

  .buttons-key {
    display: inline;
  }

  .artwork-visibility {
    display: block;
  }
}
